@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json;
@inject IHttpClientFactory _clientFactory 

<PageTitle>Index</PageTitle>

Welcome to your new app.

<h1>Invite a user</h1>

<InputText id="email" @bind-Value="inviteUserModel.Email"/>
<button @onclick="HandleSubmit">Invite User</button>

@code {
    private InviteUserModel inviteUserModel = new();

    private HttpClient? _client = null;

    private string inviteEmail = string.Empty;

    private async Task HandleSubmit()
    {
        try
        {
            var response = await _client!.PostAsync($"{_client.BaseAddress}auth/user?email={inviteUserModel.Email}", null);
            Console.WriteLine("Hey");
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
    }

    protected override Task OnInitializedAsync()
    {
        _client = _clientFactory.CreateClient("SenateAPI");
        return Task.CompletedTask;
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}

